* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

nav {
    background-color: pink;
    padding: 8px 16px;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 12px;
}

ul a:hover {
    text-decoration: none;
    color: purple;
}

/* Section Hero Section*/

.hero-section {
    width: 100px;
    height: 100vh;
    /* background-image: url ('');*/
    background-image: url {};
}
